{
  "apiVersion": "v1",
  "kind": "PersistentVolume",
  "metadata": {
    "name": "{{ item }}"
  },
  "spec": {
    "capacity": {
        "storage": "5Gi"
    },
    "accessModes": [ "ReadWriteOnce" ],
    "nfs": {
        "path": "/srv/nfs/user-vols/{{ item }}",
        "server": "support1.{{ guid_val }}.internal"
    },
    "persistentVolumeReclaimPolicy": "Recycle"
  }
}